#container {
    position: relative;
    width: 700px;
}
#left {
    position: absolute;
    left: 0;
}
#right {
    position: absolute;
    right: 0;
}
#center {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: auto;
    margin-right: auto;
}
#header {
    padding-bottom: 20px;
}

body {
    font-family: 'Segoe UI', wf_SegoeUI, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 3px;
    background-color: #2c2c2c;
    color: #ffffff;
}

.emphasis {
    font-weight: bold;
    color: #888888;
    font-size: small;
}

.buttonize {
    cursor: pointer;
    -webkit-user-select: none;
}
.button_off {
    text-align: center;
    vertical-align: middle;
    background-color: #ff2f2f;
}
.button_on {
    text-align: center;
    vertical-align: middle;
    background-color: #0ff921;
    color: #2c2c2c;
}
.button_neutral {
    text-align: center;
    vertical-align: middle;
    background-color: #4d4d4d;
}

.button_neutral:hover {
    background-color: #4a9cff;
}

.padded {
    vertical-align: middle;
    padding: 7px 12px 7px 12px;
}
.margined {
    margin: 7px 12px 7px 12px;
}

.folder {
    background-color: #4d4d4d;
    color: #ffffff;
    margin: 10px 0px 10px 0px;
    vertical-align: middle;
}
.folder:hover {
    background-color: #737373;
}

/**
 * for folder toggle
 */
.hidden {
    display: none;
}
.visible {
    display: block;
}

/**
 * for layouts
 */
div.table {
  overflow: hidden;
}
div.table label {
  display: block;
  float: left;
  text-align: left;
}
div.table .float_right {
  float: right;
}


.uri {
    color: #888888;
    padding: 7px 7px 7px 12px;
    overflow: auto;
    vertical-align: middle;
}
.fqdn {
    color: #d6d6d6;
    padding: 7px 7px 7px 25px;
    vertical-align: middle;
}
.domain {
    font-weight: bold;
    padding: 7px 7px 7px 12px;
    vertical-align: middle;
}
.domain:hover {
    background-color: #4d4d4d;
}