#ext_state, #ext_options {
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    width: 80px;
    float: right;
}
#ext_state:hover, #ext_options:hover {
    background-color: #4a9cff;
}

#ext_version {
    color: #888888;
}

/**
 * state css
 */

.state_enforced {
}
.state_disabled {
}
.state_warning {
}
.state_error {
}
.state_common {
    background-color: #4d4d4d;
    padding: 7px;
    color: #fff;
    fint-weight: bold;
    margin: 10px 0px 3px 0px;
    vertical-align: middle;
}
.state_common:hover {
    background-color: #737373;
}

.state_warning:hover {
    background-color: #fb9c33;
    color: #000000;
}
.state_error:hover {
    background-color: #ff2f2f;
}
.state_enforced:hover {
    background-color: #0ff921;
    color: #000000;
}

 .domain:hover {
    background-color: #4d4d4d;
 }

.uri {
    color: #888888;
    padding: 7px 7px 7px 12px;
    overflow: auto;
}
.fqdn {
    color: #d6d6d6;
    padding: 7px 7px 7px 25px;
}
.domain {
    font-weight: bold;
    padding: 7px 7px 7px 12px;
}