<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" href="../view/ui.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../view/theme/dark.css" type="text/css" media="screen" />
    <script type="text/javascript" src="../lib/config.js"></script>
    <script type="text/javascript" src="../lib/object.js"></script>
    <script type="text/javascript" src="../lib/ext/jquery.js"></script>
    <script type="text/javascript" src="../controller/ui.js"></script>
    <script type="text/javascript" src="../controller/popup.js"></script>
</head>
<body>
    <div class="wide_container">
        <div class="table_container">
            <span id="ext_name"></span> <span id="ext_version" class="emphasis ui_value"></span>
            <div class="table_right">
                <div id="ext_options" class="button">Options</div>
                <div id="ext_state" class="button"></div>
            </div>
        </div>
    </div>
    <div id="main"></div>
    <div id="footer"></div>
</body>
</html>
