body {
    font-size: 15px;
    height: 100%;
}

input:focus {
    outline: none;
}
input {
    max-width: 100%;
    border-width: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    /*font-weight: bold;*/
    font-size: 15px;
}

#popup {
    z-index: 998;
}
#popup_import_options {
    z-index: 201;
}
#popup_rule {
    z-index: 201;
}

.popup_window {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
}
.popup_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    font-size: 40px;
}
.popup_title {
    font-size: 25px;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.popup_message {
    font-size: 15px;
    text-align: left;
    padding: 10px;
}
.popup_input {
    float: right;
}

#progress_bar {
    position: absolute;
    display: none;
    height: 5px;
    width: 100%;
    bottom: 50px;
    border: 0px;
    z-index:  1000;
}

.button {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
}
.button_container {
    float: right;
}
.buttonize {
    cursor: pointer;
    -webkit-user-select: none;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}
.fixed {
    position: fixed;
}

.ui_textbox {
    padding: 10px;
}

.ui_box {
    width: 12px;
    display: inline-block;
}


.emphasis {
    font-weight: bold;
    color: #888888;
}

.padded {
    padding: 10px;
}
.margined {
    margin: 7px 12px 7px 12px;
}

.folder {
    margin: 10px 0px 10px 0px;
}

.uri {
    padding: 7px 7px 7px 12px;
    overflow: hidden;
}
.fqdn {
    padding: 7px 7px 7px 25px;
}
.domain {
    font-weight: bold;
    padding: 7px 7px 7px 12px;
}

/**
 * for layouts
 */
div.table {
    overflow: hidden;
}
div.table label {
    display: block;
    float: left;
    text-align: left;
}

.table_container {
    position: relative;
}
.table_right {
    position: absolute;
    right: 0;
    top: 0;
}

.wide_container {
    width: 700px;
    padding-bottom: 20px;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}
#left {
    position: absolute;
    left: 0;
}
#right {
    position: absolute;
    right: 0;
}
#center {
    margin-left: 300px;
    margin-right: 300px;
}
#header {
    padding-bottom: 20px;
}


#info {
    position: fixed;
    top: 0;
    left: 0;
}
